<header>
    <nav class="header-nav">
        <!-- <a class="header-title" href="/">MangaWeb</a> -->
        <a class="header-title" href="/">
            <span style="--i:1">M</span>
            <span style="--i:2">A</span>
            <span style="--i:3">N</span>
            <span style="--i:4">G</span>
            <span style="--i:5">A</span>
            <span style="--i:6">W</span>
            <span style="--i:7">E</span>
            <span style="--i:8">B</span>

        </a>
        <ul>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">Add Author</a></li>
            <li><a href="/books">Mangas</a></li>
            <li><a href="/books/new">Add Manga</a></li>
        </ul>
    </nav>
</header>