@font-face {
    font-family: 'Chakra Petch';
    src: url('/fonts/ChakraPetch-BoldItalic.woff2') format('woff2'),
        url('/fonts/ChakraPetch-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Chakra Petch';
    src: url('/fonts/ChakraPetch-Italic.woff2') format('woff2'),
        url('/fonts/ChakraPetch-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Chakra Petch';
    src: url('/fonts/ChakraPetch-Bold.woff2') format('woff2'),
        url('/fonts/ChakraPetch-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Chakra Petch';
    src: url('/fonts/ChakraPetch-MediumItalic.woff2') format('woff2'),
        url('/fonts/ChakraPetch-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Chakra Petch';
    src: url('/fonts/ChakraPetch-Regular.woff2') format('woff2'),
        url('/fonts/ChakraPetch-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Chakra Petch';
    src: url('/fonts/ChakraPetch-Light.woff2') format('woff2'),
        url('/fonts/ChakraPetch-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Chakra Petch';
    src: url('/fonts/ChakraPetch-SemiBoldItalic.woff2') format('woff2'),
        url('/fonts/ChakraPetch-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Chakra Petch';
    src: url('/fonts/ChakraPetch-LightItalic.woff2') format('woff2'),
        url('/fonts/ChakraPetch-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Chakra Petch';
    src: url('/fonts/ChakraPetch-Medium.woff2') format('woff2'),
        url('/fonts/ChakraPetch-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Chakra Petch';
    src: url('/fonts/ChakraPetch-SemiBold.woff2') format('woff2'),
        url('/fonts/ChakraPetch-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Silkscreen';
    src: url('/fonts/Silkscreen-Bold.woff2') format('woff2'),
        url('/fonts/Silkscreen-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Silkscreen';
    src: url('/fonts/Silkscreen-Regular.woff2') format('woff2'),
        url('/fonts/Silkscreen-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

